.select-box {
  display: flex;
  width: 100px;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.select-box {
  margin-right: 1em;
}

.select-box .options-container {
  background-color: #2aa2ce;
  color: #f5f6fa;
  border: 2px solid #2aa2ce;
  transition: all 0.4s;
  border-radius: 3px;
  max-height: 150px;
  width: 100px;
  opacity: 1;
  order: 1;
  z-index: 3;
  overflow-y: scroll;
  border-radius: 10px;
}

.option,
.selected {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.options-container label {
  z-index: 0;
}
.placeholder {
  font-size: 0.8rem;
}
.selected {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #3dc0ee;
  color: #3dc0ee;
  width: 100px;
  height: 50px;
  margin-bottom: 1px;
  font-weight: 600;
}

.select-box .option,
.selected {
  cursor: pointer;
}

.select-box .option:hover {
  background-color: #fff;
  color: #3dc0ee;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
