.counter-div {
  width: 62px;
  display: flex;
  max-height: 50px;
  margin-right: 1em;
}

input[type='number'] {
  width: 40px;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #3dc0ee;
  font-size: 17px;
}

.add-btn {
  margin-bottom: 2px;
}

.minus-btn,
.add-btn {
  border: none;
  width: 20px;
  height: 23px;
  margin-left: 2px;
  background-color: #3dc0ee;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.minus-btn:hover,
.add-btn:hover {
  color: #3dc0ee;
  background-color: #fff;
  border: 1px solid #3dc0ee;
}
